

*[aria-label]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[data-ws-bm-aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' ';
}
*[aria-labelledby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[data-ws-bm-aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' ';
}
*[aria-describedby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-describedby) ' ';
}
*[data-ws-bm-aria-describedby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-describedby) ' ';
}
*[aria-label][aria-describedby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[data-ws-bm-aria-label][data-ws-bm-aria-describedby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[aria-labelledby][aria-describedby]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[data-ws-bm-aria-labelledby][data-ws-bm-aria-describedby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[aria-haspopup="true"]:focus:after, *[aria-haspopup="menu"]:focus:after, *[data-ws-bm-aria-haspopup="true"]:before, *[data-ws-bm-aria-haspopup="menu"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[aria-haspopup="listbox"]:focus:after, *[aria-haspopup="tree"]:focus:after, *[aria-haspopup="grid"]:focus:after, *[aria-haspopup="dialog"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-haspopup) ' ';
}

*[data-ws-bm-aria-haspopup="listbox"]:before, *[data-ws-bm-aria-haspopup="tree"]:before, *[data-ws-bm-aria-haspopup="grid"]:before, *[data-ws-bm-aria-haspopup="dialog"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-haspopup) ' ';
}

*[role]:focus:after {
content: none;
}
*[data-ws-bm-role]:before {
content: none;
}

*[aria-current="true"] *[aria-current="page"] *[aria-current="step"] *[aria-current="location"] *[aria-current="date"] *[aria-current="time"] {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-current) ' ';
}

*[aria-hidden="true"] {
visibility: hidden;
}
*:focus {
outline: 3px green inset;
}

*[aria-selected]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-aria-selected]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role][aria-selected]:before {
content: none;
}
*[data-ws-bm-role][data-ws-bm-aria-selected]:before {
content: none;
}

span.WS-BM-Loading-Msg {
display: none;
}
