
/*
ARIA Article
*/

*[role="article"] {

}
*[role="article"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="article"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="article"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Definition
Required attributes: aria-labelledby which must point to an element with role=term
*/

*[role="definition"] {

}
*[role="definition"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="definition"][aria-labelledby] {

}
*[role="definition"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Directory
Note: Requires children with role="listitem".
*/

*[role="listitem"] {

}
*[role="listitem"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="directory"] *[role="listitem"] {

}
*[role="directory"] *[role="listitem"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="directory"] {

}
*[role="directory"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="directory"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="directory"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

 

*[role="document"] {

}
*[role="document"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="document"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="document"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Feed
Note: Requires first level children with role="article".
Elements with role="article" should be focusable and navigable using the arrow keys, and newly rendered articles must be either appended or prepended to the role="feed" container.
The container with role="feed" should not be focusable.
*/

*[role="feed"] *[role="article"] {

}
*[role="feed"] *[role="article"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="feed"] *[role="article"]:focus {

}
*[role="feed"] *[role="article"]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="feed"] {

}
*[role="feed"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="feed"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="feed"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

*[role="feed"]:focus {

}
*[role="feed"]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

/*
ARIA Figure
*/

*[role="figure"] {

}
*[role="figure"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="figure"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="figure"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Heading
Required attributes: aria-level
*/

*[role="heading"] {

}
*[role="heading"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="heading"][aria-level] {

}
*[role="heading"][aria-level]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-level) ' ';
}


/*
ARIA List
Note: Requires children with role="listitem".
*/

*[role="list"] *[role="listitem"] {

}
*[role="list"] *[role="listitem"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="list"] {

}
*[role="list"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="list"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="list"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Math
*/

*[role="math"] {

}
*[role="math"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="math"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="math"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Note
*/

*[role="note"] {

}
*[role="note"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="note"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="note"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

/*
ARIA Separator
*/

*[role="separator"] {

}
*[role="separator"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="separator"][aria-orientation="vertical"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}

/*
ARIA Term
Must be referenced by role=definition using aria-labelledby
Element with role="term" must not be a focusable active element
*/

*[role="term"] {

}
*[role="term"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: blue;
font-size: .9rem; font-weight: 900;
content: ' ';
}

/*
ARIA Toolbar
Note: If the container with role="toolbar" is focusable, aria-activedescendant must be used to reference the currently highlighted Button within the Toolbar.
*/

*[role="toolbar"] {

}
*[role="toolbar"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="toolbar"][tabindex] {

}
*[role="toolbar"][tabindex]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="toolbar"][tabindex]:focus {

}
*[role="toolbar"][tabindex]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="toolbar"][tabindex][aria-activedescendant]:focus {

}
*[role="toolbar"][tabindex][aria-activedescendant]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' ';
}
*[role="toolbar"][aria-label] {

}
*[role="toolbar"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="toolbar"][aria-label][tabindex] {

}
*[role="toolbar"][aria-label][tabindex]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="toolbar"][aria-label][tabindex]:focus {

}
*[role="toolbar"][aria-label][tabindex]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="toolbar"][aria-label][tabindex][aria-activedescendant]:focus {

}
*[role="toolbar"][aria-label][tabindex][aria-activedescendant]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' aria-label=' attr(aria-label) ' ';
}
*[role="toolbar"][aria-labelledby] {

}
*[role="toolbar"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="toolbar"][aria-labelledby][tabindex] {

}
*[role="toolbar"][aria-labelledby][tabindex]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="toolbar"][aria-labelledby][tabindex]:focus {

}
*[role="toolbar"][aria-labelledby][tabindex]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="toolbar"][aria-labelledby][tabindex][aria-activedescendant]:focus {

}
*[role="toolbar"][aria-labelledby][tabindex][aria-activedescendant]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' ' attr(aria-labelledby) ' ';
}
