
/*
ARIA Radiogroup
Required attributes: aria-activedescendant must be set on the role="radiogroup" element if focusable to reference the ID of its child role="radio" elements;
aria-checked must be set on all role="radio" elements, and be toggled accordingly when activated. Radio elements cannot support aria-checked="mixed".
Note: The Radio role cannot include any embedded active elements.
http://whatsock.com/training/matrices/#radiogroup
*/

*[role="radio"] {
border: ridge thick red;
}
*[role="radio"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-checked="false"], *[role="radiogroup"] *[role="radio"][aria-checked="true"] {
border: ridge thick orange;
}
*[role="radiogroup"] *[role="radio"][aria-checked="false"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-checked="true"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-checked="mixed"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-disabled="true"][aria-checked="false"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-disabled="true"][aria-checked="true"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-disabled="true"][aria-checked="mixed"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="radiogroup"] *[role="radio"][aria-posinset][aria-setsize][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') ';
}
*[role="radiogroup"] *[role="radio"][aria-posinset][aria-setsize][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') ';
}
*[role="radiogroup"] *[role="radio"][aria-posinset][aria-setsize][aria-disabled="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') ';
}
*[role="radiogroup"] *[role="radio"][aria-posinset][aria-setsize][aria-disabled="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') ';
}

*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-checked="false"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-checked="true"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') ';
}
*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-disabled="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-disabled="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-posinset][aria-setsize][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-posinset][aria-setsize][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-posinset][aria-setsize][aria-disabled="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-posinset][aria-setsize][aria-disabled="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-label=' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-label=' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-disabled="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-disabled="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-posinset][aria-setsize][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-labelledby=' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-posinset][aria-setsize][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-labelledby=' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-posinset][aria-setsize][aria-disabled="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-labelledby=' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-posinset][aria-setsize][aria-disabled="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-labelledby=' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-labelledby=' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:hover:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') aria-labelledby=' attr(aria-labelledby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-checked="false"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-checked="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-checked="mixed"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-disabled="true"][data-ws-bm-aria-checked="false"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-disabled="true"][data-ws-bm-aria-checked="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-disabled="true"][data-ws-bm-aria-checked="mixed"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*:focus *[role="radio"] {
border: ridge thick red;
}
*:focus *[role="radio"]:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radio"] *:focus {
border: ridge thick red;
}
*[role="radio"] *:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="radiogroup"] *[role="radio"]:focus {
border: ridge thick red;
}
*[role="radiogroup"] *[role="radio"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-checked="false"]:focus, *[role="radiogroup"] *[role="radio"][aria-checked="true"]:focus {
border: ridge thick green;
}
*[role="radiogroup"] *[role="radio"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-disabled="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-disabled="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-checked="mixed"]:focus {
border: ridge thick red;
}
*[role="radiogroup"] *[role="radio"][aria-checked="mixed"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="radiogroup"] *[role="radio"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) ';
}
*[role="radiogroup"] *[role="radio"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) ';
}

*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) ';
}
*[role="radiogroup"] *[role="radio"][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-label=' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-label][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(aria-label) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(aria-labelledby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-labelledby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(aria-labelledby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-haspopup="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-haspopup="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-haspopup="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-haspopup="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-label][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-haspopup="true"][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-haspopup="true"][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="false"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"] *[role="radio"][aria-describedby][aria-labelledby][aria-haspopup="true"][aria-posinset][aria-setsize][aria-checked="true"]:focus:after {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-posinset) ' of ' attr(aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="false"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-disabled="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-disabled="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-checked="mixed"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-label=' attr(data-ws-bm-aria-label) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-label=' attr(data-ws-bm-aria-label) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(data-ws-bm-aria-label) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(data-ws-bm-aria-label) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-label=' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-label=' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-label][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-label=' attr(data-ws-bm-aria-label) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="false"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}
*[data-ws-bm-role="radio"][data-ws-bm-role-nested="true"][data-ws-bm-aria-describedby][data-ws-bm-aria-labelledby][data-ws-bm-aria-haspopup="true"][data-ws-bm-aria-posinset][data-ws-bm-aria-setsize][data-ws-bm-aria-checked="true"]:hover:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-posinset) ' of ' attr(data-ws-bm-aria-setsize) ') (arrows should move focus, Shift+F10 should open menu) aria-labelledby=' attr(data-ws-bm-aria-labelledby) ' aria-describedby=' attr(data-ws-bm-aria-describedby) ' ';
}

*[role="radiogroup"] {
border: ridge thick red;
}
*[role="radiogroup"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"][aria-label], *[role="radiogroup"][aria-labelledby] {
border: ridge thick orange;
}
*[role="radiogroup"][aria-label]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-label) ' ';
}
*[role="radiogroup"][aria-labelledby]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: black;
color: orange;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-labelledby) ' ';
}
*[role="radiogroup"]:focus {
border: ridge thick red;
}
*[role="radiogroup"]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}
*[role="radiogroup"]:focus *[role="radio"] {
border: ridge thick orange;
}
*[role="radiogroup"]:focus *[role="radio"]:after {
content: none;
}
*[role="radiogroup"][aria-activedescendant][aria-label]:focus, *[role="radiogroup"][aria-activedescendant][aria-labelledby]:focus {
border: ridge thick green;
}
*[role="radiogroup"][aria-activedescendant][aria-label]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"][aria-activedescendant][aria-labelledby]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) aria-labelledby=' attr(aria-labelledby) ' ';
}

*[role="radiogroup"][aria-haspopup="true"][aria-activedescendant][aria-label]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) (Shift+F10 should open menu) aria-label=' attr(aria-label) ' ';
}
*[role="radiogroup"][aria-haspopup="true"][aria-activedescendant][aria-labelledby]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) (Shift+F10 should open menu) aria-labelledby=' attr(aria-labelledby) ' ';
}

*[role="radiogroup"][aria-describedby][aria-activedescendant][aria-label]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"][aria-describedby][aria-activedescendant][aria-labelledby]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[role="radiogroup"][aria-describedby][aria-haspopup="true"][aria-activedescendant][aria-label]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) (Shift+F10 should open menu) aria-label=' attr(aria-label) ' aria-describedby=' attr(aria-describedby) ' ';
}
*[role="radiogroup"][aria-describedby][aria-haspopup="true"][aria-activedescendant][aria-labelledby]:focus:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(aria-activedescendant) ' (must reference highlighted role=radio element) (Shift+F10 should open menu) aria-labelledby=' attr(aria-labelledby) ' aria-describedby=' attr(aria-describedby) ' ';
}

*[data-ws-bm-ad-match] {
outline: 3px green inset;
background-color: #FFFFE5;
color: #000;
}

*[data-ws-bm-ad-match]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
z-index: 10000;
background-color: white;
color: green;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-ad-match) ' ';
}

*[data-ws-bm-ad-invalid="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[role][data-ws-bm-self-ref="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ' attr(role) ' must not include aria-labelledby to reference itself ';
}

*[data-ws-bm-dtr-missing="true"]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ';
}

*[data-ws-bm-aria-owns-invalid]:before {
display: table;
height: auto; width: auto;
position: relative; padding: 1px 0;
background-color: #FFFFE5;
color: red;
font-size: .9rem; font-weight: 900;
content: ' ' attr(data-ws-bm-aria-owns-invalid) ' elements because children are not supported ';
}

input[data-ws-bm-aria-owns-invalid]:before, img[data-ws-bm-aria-owns-invalid]:before, area[data-ws-bm-aria-owns-invalid]:before, hr[data-ws-bm-aria-owns-invalid]:before {
content: none;
}
input[data-ws-bm-aria-owns-invalid], img[data-ws-bm-aria-owns-invalid], area[data-ws-bm-aria-owns-invalid], hr[data-ws-bm-aria-owns-invalid] {
border: ridge thick red;
}
